.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: aliceblue;
  background-color: grey;
}

button {
  color: #fff;
  padding: 5px 25px;
  margin: 10px;
  text-transform: uppercase;
  width: 300px;
  border-radius: 15px;
  background-color: #007bf0;
}